<?xml version="1.0" encoding="utf-8"?><Groups><Group><Name>Unnamed</Name><Type>SlideShow</Type><isActive>False</isActive><Album>C:\Users\Public\Pictures</Album><PictureOrder>Alphabetical</PictureOrder><MazeSize>10</MazeSize><Pallet>Basic.png</Pallet><Monitor><ID>0</ID><TransitionType /><FadeTime>3</FadeTime><DisplayTime>3</DisplayTime><PanTime>3</PanTime><PanDirIn>0</PanDirIn><PanDirOut>0</PanDirOut><isClockwise>True</isClockwise><NumRotations>1</NumRotations><AIView /><AIMethod /></Monitor></Group><Group><Name>Unnamed</Name><Type /><isActive>False</isActive><Album>C:\Users\Public\Pictures</Album><PictureOrder>Alphabetical</PictureOrder><MazeSize>10</MazeSize><Pallet>Basic.png</Pallet></Group></Groups>