# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj


*.suo
*.user
*.sln.docstates

TestResults

[Dd]ebug/
[Rr]elease/
[Ss]taging/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds


[Bb]in
[Oo]bj
sql
TestResults
*.Cache
*.cachefile
ClientBin
stylecop.*
~$*
*.dbmdl