<?xml version="1.0" encoding="utf-8"?><Groups><Group><Name>Unnamed</Name><Type>Maze</Type><isActive>False</isActive><Album>C:\Users\Public\Pictures</Album><PictureOrder>Alphabetical</PictureOrder><MazeSize>0</MazeSize><Pallet> </Pallet><Monitor><ID>0</ID><TransitionType>Fade</TransitionType><FadeTime>3</FadeTime><DisplayTime>3</DisplayTime><PanTime>3</PanTime><PanDirIn>-1</PanDirIn><PanDirOut>-1</PanDirOut><isClockwise>True</isClockwise><NumRotations>1</NumRotations><AIView> </AIView><AIMethod> </AIMethod></Monitor><Monitor><ID>0</ID><TransitionType>Spiral</TransitionType><FadeTime>3</FadeTime><DisplayTime>3</DisplayTime><PanTime>3</PanTime><PanDirIn>-1</PanDirIn><PanDirOut>-1</PanDirOut><isClockwise>True</isClockwise><NumRotations>1</NumRotations><AIView> </AIView><AIMethod> </AIMethod></Monitor></Group></Groups>